{% extends 'base.html' %}
<title>Add Profile Picture</title>
{% block content%}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Change Profile Picture</h5>
                <div class="container">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-success btn-sm">Change</button>

                  </form>

</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}
