{% extends 'base.html' %}
<title>Change Profile</title>
{% block content%}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Profile</h5>
                <form method="POST">
                  {% load crispy_forms_tags %}
                  {{form|crispy}}
                  {{profile_form|crispy}}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-warning btn-sm">Change</button>
                </form>
</div>
</div>
</div>
</div>


{% endblock %}
