<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/registerstyle.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/3280dc4d00.js" crossorigin="anonymous"></script>
</head>

<body class="bg-primary">

  <header>
    <div class="container">
        <div class="row bg-dark">
          <div class="col-md-4 col-sm-12 col-12">
            <div class="btn-group">
              <button
                class="btn border dropdown-toggle my-md-4 my-2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="color:white">Browse Categories
              </button>
              <div class="dropdown-menu">
                <a href="arts.html" class="dropdown-item">Arts and Photography</a>
                <a href="#" class="dropdown-item">Biographies</a>
                <a href="#" class="dropdown-item">Business</a>
                <a href="#" class="dropdown-item">Children Books</a>
                <a href="#" class="dropdown-item">Comics</a>
                <a href="#" class="dropdown-item">Politics</a>
              </div>



            </div>

          </div>



        <div class="col-md-4 col-12 text-center">
           <h2 class="my-md-3 site-title" style="color:white">BookWorms</h2>
        </div>

        <div class="col-md-4 col-12 text-right">
          <p class="my-md-4 header-links">
            <a href="login.html" class="px-2" style="color:white">Sign In</a>


          </p>
        </div>



      </div>

    </div>


    <div class="container bg-light p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="homepage.html">Home <span class="sr-only" >(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="createpost.html">Create Trade Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="used_books.html">Used Books</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shops
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="shop.html">Shop X</a>
        <a class="dropdown-item" href="#">Shop B</a>
        <a class="dropdown-item" href="#">Shop C</a>
        <a class="dropdown-item" href="#">Shop D</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>

  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>

    </div>


  </header>


    <!-- Main content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="text" id="inputUserame" class="form-control" placeholder="Username"
                                    required autofocus>
                                <label for="inputUserame">Username</label>
                            </div>

                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                    required>
                                <label for="inputEmail">Email address</label>
                            </div>

                            <hr>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                    required>
                                <label for="inputPassword">Password</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputConfirmPassword" class="form-control"
                                    placeholder="Password" required>
                                <label for="inputConfirmPassword">Confirm password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Register</button>

                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                    class="fab fa-google mr-2"></i> Sign up with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                    class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

</body>

<!-- Footer -->
<footer class="bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">
        <h6> © 2020 Copyright: <br> Bookworms™</h6>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</html>
